/*@font-face {
    src : url('b612.ttf');
    font-family : B612;
}

@font-face {
    src : url('comic.ttf');
    font-family : Comic Sans Ms;
}

@font-face {
    src : url('fws.woff2');
    font-family : FWS;
}*/

@media only screen and (max-width: 400px) {
  body {
  }
  #citytop {
    font-size: 20px;
  }

  .favicon {
       width: 25px;
       height: 25px;
   }
}

@media only screen and (min-width: 401px) and (max-width: 800px) {
  body {
  }
  #citytop {
    font-size: 30px;
  }
  .favicon {
       width: 30px;
       height: 30px;
   }
}

@media only screen and (min-width: 801px) and (max-width: 1500px) {
  body {
  }
  #citytop {
    font-size: 40px;
  }


  .favicon {
       width: 35px;
       height: 35px;
   }
}

@media only screen and (min-width: 1501px) {
  body {
  }
   #citytop {
    font-size: 50px;
  }


  .favicon {
       width: 40px;
       height: 40px;
   }
}

body *{
    font-family : FWS;
}

body {
    height: 95vh;
    margin: 0px;
}

.c{
    text-align: center;
}

.w{
    color: rgb(122, 122, 122);
}

.right {
    float: right;
}



#nav_bar {
    bottom: 0;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 1000;
}

#motto {
    font-size: 10px;
    padding: 0px 10px;
    white-space: break-spaces;
}

#school {
    margin: 10px;
}

.in{
    display: inline-block;
}

@media only screen and (min-width: 500px) {
    #fx{
        float: right;
    }
}

.gr {
    display: grid;
}

.r {
    float: right;
}

.icon {
    width: 40px;
    height: 40px;
}


#layout {
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    min-height: 100vh;
    padding: 0;
    /*background: url('register.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
}

#citytop{
    color: darkblue;
}

.cent{
    text-align: center;
    margin: 5px;
}

.sum{
    font-size: 40px;
}

.fe {
    font-size: 35px;
    font-family: Comic Sans Ms;
}

#summer_fest{
    padding: 15px 0px;
}

.imgs{
    width: 300px;
    height: 300px;
    border-radius: 10px 15px;
}

#layout > * {
    padding: 10px;
}

.subs{
    min-width: 300px;
    min-height: 500px;
    max-width: 300px;
    border: 2px solid teal;
    border-radius: 10px 15px;
    padding: 10px;
    margin: 10px 0px;
    display: inline-block;
}

at: focus{

}

.s{
    font-size: 12px;
    text-align: left;
}

@keyframes disp{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

#content {
    opacity: 0;
    display: none;
    animation-name: disp;
    animation-play-state: paused;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.br{
    color: brown;
}

.ye {
    color: yellow;
}

.yg{
    color: yellowgreen;
}

.bv {
    color: blueviolet;
}

#rob{
    white-space: break-spaces;
}

.o{
    transform: rotate(-15deg);
}

.su{
    display: inline-block;
 }

 #b{
    padding: 10px;
    border-radius: 10px 15px;
  }

  body *{
    font-family : B612;
    overflow: hidden;
}

