<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no"/>
    <script src="landing.js" type="application/javascript"></script>
    <link rel="stylesheet" href="landing.css" type="text/css">
    <title>Landing Page</title>
</head>
<body>
<div id="base-layout">
    <div class="content">
        <div><p class="twelve">The definition of coding is the process of creating instructions for computers using
            programming languages. Computer code is used to program the websites, apps, and other technologies we
            interact with every day.</p>
            <p class="twelve">There are lots of languages which are graphical, text based, blocks and a lots more. </p>
            <ul class="twelve">
                <li><b>Scratch : </b> This is a graphical programming language designed by MIT which uses blocks,
                    sprites, stages for its programming. The graphical aspects makes it fun and childrens easily grap
                    the basic idea of programming even though it has limited usage.
                </li>
                <li><b>C : </b>This is a text based old programming language used for digital electronics, creating of
                    operating systems such as windows, linux, Database systems,
                    Graphics packages,
                    Word processors,
                    Spread sheets,
                    Compilers and Assemblers,
                    Network drivers,
                    Interpreters.
                </li>
                <li><b>Python : </b> This is a text based language used for Artificial Intelligence, Web applications,
                    Finance, Data analysis and lots more.
                </li>
                <li><b>CSS (Cascading StyleSheet) : </b> This is a text based langugae used for colors, styling html
                    elemnts used on the web. It defines the attributes of elements in a web page.
                </li>
                <li><b>Javascript : </b> This is a text based language used in the browser for making web pages user
                    interactive. Odds are you have played games on browsers such as chess, 2024, Tic Tac Toe, e.t.c are
                    all made interactive with this language
                </li>
                <li><b>HTML (Hypertext Markup Language) : </b> This is an XNL (tag based language) used for layout of
                    the web pages displayed in browsers.
                </li>
            </ul>
        </div>
        <div class="hr-line"></div>
        <div>
            <h2>Coding</h2>
            <p class="twelve"> There are lots of languages depending on their usage where some are for core programming,
                some are for styling, some for layouts and lots more.</p>
            <img src="/flag.svg">
            <img src="/motion.svg">
            <img src="/reporter.svg">
            <p class="twelve">Above are different sets of blocks in the scratch language.</p>
            <div class="code twelve">
                <p>#include "stdio.h"</p>
                <p>int main(){</p>
                <p> printf("%s" , "Hello over there");</p>
                <p>}</p>
            </div>
            <p class="twelve">Above is a simple program in the c language.</p>
            <p class="twelve">Get the concept, Build solutions.</p>
            <p class="twelve">Requirements:</p>
            <ul class="twelve">
                <li>Laptop 64bits.</li>
            </ul>
        </div>
    </div>
    <div style="display: inline-flex;">
        <div style="display: grid;">
            <div class="content">
                <div>
                    <p class="twelve">The world is rapidly changing and one of the main cause is rapid changes in
                        science.</p>
                    <p class="twelve">Science is the study of the world and how it is rapidly changing around us.
                        Scientist
                        observes, describe, experiment. there ae different branches of science, which are classified
                        based
                        on
                        what
                        they study such as geology, biology, physics, chemistry.</p>
                    <ul class="twelve">
                        <li><b>Biology : </b> This is the study of life and also of living organisms. The word is coined
                            from
                            two greek words <b>"bios", 'logia"</b>, where bios means life and logia means study of.
                            Experts
                            in
                            this field are called Biologist.
                        </li>
                        <li><b>Physics : </b> This is a branch is science that studies matter, motion, energy, forces,
                            e.t.c
                            and
                            how they interact with one another. Experts in
                            this field are called Physicist. Some famous physicist in history are <b>Albert Einsten,
                                Issac
                                Newton ..........</b></li>
                        <li><b>Chemistry : </b> This is a branch of science that studies properties of matter. Experts
                            in
                            this
                            field are called Chemists. Chemistry is all around us and it is in the drugs doctors
                            prescribe,
                            electronics like Tv's, Mobile phones ...., Also on the farm as farmer grow crops
                            (Fertilizer)
                            and a
                            lot more.
                        </li>
                    </ul>
                    <p class="twelve">All hasn't been talked about as there are still a lot more branches , but above
                        are
                        the
                        main basic ones.</p>
                </div>
                <div class="hr-line"></div>
                <div>
                    <h2>Science</h2>
                    <img src="flask.png">
                    <p class="twelve">Requirements:</p>
                    <ul class="twelve">
                        <li>Lab Coat.</li>
                        <li>Hand Gloves.</li>
                        <li>Google.</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div>
                    <p class="twelve">Several devices have been created which can be incorporated together to build
                        complex systems such as robots, drones, spy cam, temperature scanner and ranges of smart systems
                        that can be thought of. Those devices have certain sets of instructions which can be analog /
                        digital electrical signals, physical states and lot more they have been encoded to understand,
                        which if being coupled up with other circuits, systems e.t.c can be used to create lots of
                        systems.</p>
                    <p class="twelve"></p>
                </div>
                <div class="hr-line"></div>
                <div>
                    <h2>Robotics</h2>
                     <img src="servo.jpg">
                    <p class="twelve">Requirements:</p>
                    <ul class="twelve">
                        <li>Laptop 64bits</li>
                        <li>Arduino Starter Kits.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>