<!DOCTYPE html>
<html>
<head>
    <title>{{titile}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no"/>
    <script src="summer.js" type="application/javascript"></script>
    <link rel="stylesheet" href="summer.css" type="text/css">
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light trans" id="nav_bar">
    <div style="width: 100%;">
        <div class="gr" id="school">
            <b id="citytop" class="">
                <img src="favicon.png" alt="school's logo" class="favicon"/>
                CityTop Schools
            </b>
            <span id="motto"></span>
        </div>
        <div class="ml-auto in">
            <a href="tel:+2348020950084">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="32px" viewBox="0 0 21 21"
                        width="32px" fill="currentColor">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z"/>
                </svg>
            </a>
            <a href="">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32px" height="32px" fill="currentColor"
                        class="bi bi-geo-alt"
                        viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
            </a>
        </div>
        <div class="ml-auto in r">
            <img class="icon" src="fb.jpg"/>
            <img class="icon" src="gmail.jpg"/>
            <img class="icon" src="twitter.jpg"/>
            <img class="icon" src="instagram.jpg"/>
        </div>

    </div>
</nav>
<div class="container" id="layout">
</div>
<script src="jquery-3.5.1.min.js"></script>
<script src="popper.min.js"></script>
<sscript src="bootstrap.min.js"></sscript>
</body>
</html>