<!DOCTYPE html>
<html>
<head>
    <title>{{titile}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no"/>
    <script src="summer.js" type="application/javascript"></script>
    <link rel="stylesheet" href="summer_.css" type="text/css">
</head>
<body style="margin: 0px;">
<div class="container" id="layout">
    <h3 class="cent spc w" id="rob"></h3>
    <div id="content">
        <h1 class="cent">@</h1>
        <h3 class="cent">OUR</h3>
        <div id="summer_fest" style="text-align: center;">
            <div class="in o">
                <span class="sum br"><b>S</b></span>
                <span class="sum ye"><b>U</b></span>
                <span class="sum yg"><b>M</b></span>
                <span class="sum br"><b>M</b></span>
                <span class="sum bv"><b>E</b></span>
                <span class="sum w"><b>R</b></span>
            </div>

            <div class="in">
                <span class="fe bv"><b>f</b></span>
                <span class="fe w"><b>e</b></span>
                <span class="fe w"><b>s</b></span>
                <span class="fe ye"><b>t</b></span>
            </div>
        </div>

        <div class="cent">
            <div class="in subs w">
                <img class="imgs" src="kidcode.jpg" alt="kid code"/>
                <h3>Coding</h3>
                <p class="s">While programming is logic-based, it’s also an extremely creative activity. If you know how
                    to
                    code, you can develop the aforementioned apps, video games, websites, and more.
                <p class="s"> We would be learning about :</p>
                <ul class="s">
                    <li>Html & Javascript</li>
                    <li>Scratch</li>
                    <li>and lots more.......</li>
                </ul>
                </p>
            </div>

            <div class="in subs w">
                <img class="imgs" src="morebot-3.jpg" alt="kid code"/>
                <h3>Robotics</h3>
                <p class="s">The world is growing fast in IOT and Robotics. Join us as we explore the basics of the
                    sense
                    behind how computer works.
                    It’s fun and different in a different way. I just think it is more fun.
                <p class="s"> We would be learning about :</p>
                <ul class="s">
                    <li>Arduino.</li>
                    <li>Esp32 Camera module.</li>
                    <li>and lots more.......</li>
                </ul>
                </p>
            </div>

            <div class="in subs w">
                <img class="imgs" src="chemistry-kid.jpg" alt="kid code"/>
                <h3>Science Experiments</h3>
                <p class="s">The world wouldn't be where it is today without science which with exploration has brought about the discovery of elements ranging from usage in the tech field up to medical and so on.</p>
                <p class="s"> We would be learning about :</p>
                <ul class="s">
                    <li>Chemicals</li>
                    <li></li>
                    <li>and lots more.......</li>
                </ul>
                </p>
            </div>
        </div>

    <div>
        <div class="su">
        <p class=" w s">Other focus includes:</p>
        <ul class="w s">
                <li>English</li>
                <li>Exhibition</li>
                <li>Leadership</li>
                <li>Mathemactics</li>
                <li>Preschool fun activities.</li>
                <li>Movies and Documentary</li>
            </ul>
            </div>

            <div class="su" id="fx">
                <p class="s w"><b>Date : </b> August 3<sup>rd</sup> to September 3<sup>rd</sup></p>
                <p class="s w">HURRY UP & REGISTER</p>
                <p class="s w">REGISTRATION FEE</p>
                <ul class="w s">
                    <li>Preschool Elementary : # 10, 000.00</li>
                    <li>College : # 10, 000.00</li>
                    <li>Siblings discount 10%</li>
                </ul>
                <p class="s">Note : Payment is not refundable.</p>
                <p class="s">The Verified account is:</p>
                <p class="s">Account name: Citytop Schools</p>
                <p class="s">Account Number: 1016768250</p>
                <p class="s">Bank : Zenith.</p>
                <button id="b">DOWNLOAD FORM</button>
            </div>
        </div>

        <div class="w su" >
            <h4 class="cent"><b>Aims and Objectives</b></h4>
            <p class="s p">The obvious theme that runs through the school is that all children have enormous fun and
                enjoy
                being
                children! Our aim is to bring out a child’s individuality and support that with creative and artistic
                play.
                There is a firm structure to each day and we encourage good discipline.
                Communication and interaction is very important between children. </p>
            <p class="s p">We aim to give the children a full day with interesting creative projects as well as the
                possibility to just
                sit and have calm reading moments whenever they feel the need. We encourage sharing and helping each
                other.
                We listen to the children and try to give them what they need at that time. We support the children in
                their
                need to express themselves; especially if they are particularly artistic. We expect good manners and
                kindness to each other and will help children to achieve this by talking them through it if they are not
                accustomed to it.
                We believe that Citytop School works hard to achieve the good reputation that it holds in the area.
                We are always prepared to improve and learn more about the children we see each day. We are very happy
                to
                integrate children from all walks of life.
                We welcome children with special needs to join in with all activities. Some of our special needs
                children
                don’t always need specialist one to one assistance, but we will allocate a member of the team to keep a
                big
                eye on them. We work on the premise that children are our future and as teachers /parents, it is
                important
                to us to make them feel special, loved and cared for during the time that they spend with us.
                Each year we have a main theme running throughout the five weeks. All projects and activities are based
                around the themes, giving the children a fantastic opportunity to stretch their imaginations and
                creative
                skills as well as learn the importance of how the world around them works today.
            </p>
            <p class="s p">We try to do as many outdoor activities on all good weather days. We concentrate on the
                children
                and their
                individual needs, we respect them and actively encourage them to have fun and make the most of their
                time
                with us.
                We believe in fun, laughter, listening to them, talking to them, creating with them, allowing them their
                space, giving them calm and relaxing times as well as energetic fun and exercise time.
                At Citytop School, we look at the world through the eyes of your children and it not only brings them
                enormous pleasure, but it also brings pleasure to you the parents/ carers, and of course to us the
                teachers.</p>
        </div>

                <div class="su" style="float: center;">
            <p class="s w">Covid 19 protocols are strictly observed</p>
            <p class="s w"> No mask No Entry!!!!!</p>
        </div>

    </div>


</div>
</body>
</html>